<div class="container">

    <table class="users">
        <thead>
            <tr>
                <th>Name</th>
                <th>Account #</th>
                <th>Card #</th>
                <th>Expiration date</th>
                <th>Balance</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.accountNumber}}</td>
            <td>{{user.cardNumber}}</td>
            <td>{{user.expDate}}</td>
            <td>{{user.balance}}</td>
            <td>{{user.role}}</td>
        </tr>
        </tbody>
    </table>

</div>