<div>
    <div class="row">
        <div class="col-xs-2">You are logged in as</div>
        <div class="col-xs-3">{{::user.username}}</div>

    </div>

    <div class="row">
        <div class="col-xs-2">Account:</div>
        <div class="col-xs-3">{{::user.accountNumber}}</div>
    </div>


    <div class="row">
        <div class="col-xs-2">Card #:</div>
        <div class="col-xs-3">{{::user.cardNumber}}</div>
    </div>

    <div class="row">
        <div class="col-xs-2">Expired on:</div>
        <div class="col-xs-3">{{::user.expDate | date : 'M/yyyy'}}</div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-2">Balance:</div>
        <div class="col-xs-3">{{user.balance | currency}}</div>
    </div>
    <div ng-if="user.roleCode === 'admin'"></div>
</div>